.screen {
    background-color: #000814;
    height: 100vh;
    width: 100vw;
}

.logoparts {
    position: relative;
}

#yellowlogo {
    width: 140px;
    height: 140px;
    position: absolute;
    left: calc(50% - 70px);
}

#redlogo {
    width: 140px;
    height: 140px;
    position: absolute;
    left: calc(100% - 140px);
    top: calc(50% - 70px);
}

#greenlogo {
    width: 140px;
    height: 140px;
    position: absolute;
    left: calc(50% - 70px);
    top: calc(100% - 140px);
}

#bluelogo {
    width: 140px;
    height: 140px;
    position: absolute;
    top: calc(50% - 70px);
    right: calc(100% - 140px);
}